@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --color-1: #000000;
}

.bg-image {
  width: 100%;
  background-image: url(./Assets/gradient.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.motto {
  padding: 50px;
}
.motto h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3.5em;
  margin-bottom: 25px;
}
.line-1 {
  position: relative;
  top: 50%;
  width: 25em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 25em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.jobs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  /* border: black solid 1px;
  padding: 20px; */
}

/*NAV BAR STYLING*/
a {
  color: rgb(255, 255, 255);
}

.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: solid yellow 1px;
  background-clip: padding-box;
  box-shadow: 3px 3px 3px rgba(94, 244, 149, 0.845);
  line-height: 1.5;
}

.nav img {
  cursor: cell;
  margin-left: -25px;
  margin-right: auto;
  height: 150px;
  width: 200px;
}

.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px rgb(29, 201, 244);
}

.contact {
  margin-left: 20px;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: solid yellow 1px;
  background-clip: padding-box;
  box-shadow: 3px 3px 3px rgba(94, 244, 149, 0.845);
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgba(239, 46, 249, 0.8);
  border: solid rgb(4, 254, 254) 1px;
}

/*Main Search Bar*/

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

#searchBtn {
  border-radius: 30px;
  padding: 2px 45px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: solid rgb(0, 0, 0) 1px;
  background-clip: padding-box;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.845);
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

/* Return To Complete/Center And Space Evenly Properly */
.optionsForm {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

footer {
  /* display: flex;
    justify-content: flex-end; */
  /* align-items: center; */
  padding: 10px 3%;
  background-color: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(30px);
  border: solid yellow 1px;
  background-clip: padding-box;
  box-shadow: 3px -3px 3px rgba(94, 244, 149, 0.845);
  height: 80px;
}

/* Styling For Pagination */

.pagination {
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 20px;
}
.pageNum {
  text-align: center;
  margin-top: 20px;
}

.frontend {
  color: white;
}

.front {
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

#filterButtons:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: solid rgb(4, 254, 241) 1px;
}

.FilterCheckbox.frontend button {
  border: rgb(231, 255, 19) 2px solid;
  box-shadow: 3px 3px 3px rgba(29, 243, 115, 0.845);
}

.FilterCheckbox.backend button {
  border: rgb(0, 105, 243) 2px solid;
  box-shadow: 3px 3px 3px rgba(245, 241, 6, 0.845);
}

.FilterCheckbox.ux button {
  border: rgb(62, 255, 55) 2px solid;
  box-shadow: 3px 3px 3px rgba(0, 225, 255, 0.845);
}

main {
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

header {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
header button {
  display: none;
}

.wrapper{
  overflow-y: scroll;
}