* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #000000;
}

.bg-image {
  background-image: url(./Assets/gradient.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: aquamarine; */
}

.Container {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  /* flex-wrap: wrap; */
  min-height: calc(100vh - 40vh);
}

header {
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: grid;
}

#searchButton {
  justify-self: center;
}

.jobs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  grid-gap: 1rem;
}
