.navFooter{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.footerLinks li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;

    
}

.footer{
    width: 100%; 
}