*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.footerLinks{
    color: white;
}

.footerLinks li{
    list-style: none;
    display: inline-block;
    
}

.footerLinks li + li{
    margin-left: 65px;
}

.navFooter{
  display: flex;
  justify-content: flex-end;
 
}