/* .jobCardWrapper{
    display: grid;
    width: 800px;
    border: solid 2px rgb(255, 255, 255);
} */

.grid{
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-rows: 2fr 1fr 4fr 1fr;
    /* grid-gap: 30px; */
    align-items: center;
    grid-template-areas:
    "title"
    "category"
    "description"
    "apply";
}

.cardTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    grid-area: title;
}




.cardBody{
    /* border: rgb(0, 0, 0) solid 4px; */
    border-radius:20px;
    padding:30px;


}
.cardBody:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}



.jobDescription{
    background-color: rgba(255,255,255,0.1);
    padding: 25px;
    backdrop-filter: blur(30px);
    border: solid transparent 2px;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0.3);
    line-height:1.5;
    border: none;
    border-radius: 15px;
    width: 350px;
   
    /* transition: transform .3s; */
    
    grid-area: description;
}

.cardSubtitle{
    grid-area: a;
}


#applyButton{
    /* background-color: black; */
    color: rgb(0, 8, 255);
    border-radius: 10px;
    grid-area: apply;
    background-color: rgba(255,255,255,0.1);
    padding: 2px 20px;
    backdrop-filter: blur(30px);
    border: solid transparent 2px;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgb(250, 229, 0);
    line-height:1.5;
    
}

.badge{
    background-color: black;
}

.apply{
    display: block;
    grid-area: b;
  

}

.show{

}

.hide{
    height: 145px;

}
