.cardTitle {
  /* border: 1px solid black; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.cardSubtitle {
  margin-bottom: 25px;
  margin-top: -20px;
}

.cardBody.glass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-content: center;
  border-radius: 2%;
  /* border: 1px black solid; */
}
.cardBody:hover {
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0, 217, 255, 0.993);
}

.jobDescription {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  backdrop-filter: blur(30px);
  border: solid transparent 2px;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.507);
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  width: 350px;
  height: 350px;
  /* border: solid black .5px; */
}

#applyButton {
  background-color: black;
  border: black solid 3px;
  color: white;
  border-radius: 10px;
  background-color: rgb(41, 38, 38);
  padding: 10px 20px;
  backdrop-filter: blur(30px);
  border: solid transparent 2px;
  background-clip: padding-box;
  box-shadow: 5px 5px 5px rgba(46, 44, 44, 0.473);
  line-height: 1.5;
  margin-top: -25px;
}

a #applyButton:hover{
  box-shadow: 3px 3px 3px rgb(255, 0, 170);
  border: solid rgb(251, 255, 30) 1px;
}

.badge {
  border: black solid 0.5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 2px rgba(35, 247, 7, 0.507);
  border-radius: 10px;
  padding: 6px;
  font-size: 12px;
  color: black;
  margin-left: 7px;
  margin-bottom: 7px;
}
