*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height:100px;
  width: 50px;
}

.login {
    /* width: 500px; 
    height: 600px; */
    background-color: rgba(255,255,255,0.1);
    padding: 50px;
    backdrop-filter: blur(30px);
    border: solid transparent 2px;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(0, 110, 255, 0.733);
    line-height:1.5;
    align-items: center;
}

.required {
  color: rgb(0, 0, 0);
}

.required::before {
  /* content: "*"; */
  color: red;
  font-size: 20px;
}

#login-submit {
  height: 10px;
  /* width: 195px; */
  padding:10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  border-radius: 4px;
  color: rgb(27, 240, 255);
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  border: solid rgb(0, 0, 0) 1px;
  background-clip: padding-box;
  box-shadow: 3px 3px 3px rgba(8, 226, 255, 0.845);
  color: white;
  font-weight: bold;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 4px;
    color: rgb(27, 240, 255);
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border: solid rgb(0, 0, 0) 1px;
    background-clip: padding-box;
    box-shadow: 3px 3px 3px rgba(8, 226, 255, 0.845);
    color: white;
    font-weight: bold;

}