/* 
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: solid transparent 6px;
  height: 500px;

} */

.login {
    background-color: rgba(255,255,255,0.1);
    /* padding: 50px; */
    backdrop-filter: blur(30px);
    border: solid transparent 2px;
    background-clip: padding-box;
    /* box-shadow: 7px 7px 7px rgb(255, 251, 0); */
    line-height:1.5;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
  
 
}
.bg-image {
  /* width: 100%; */
  /* background-color: rgb(250, 255, 253); */
  background-image: url(./Assets/test.png);
  background-size: cover;
  background-position: top center;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* backdrop-filter: blur(8px);
  -webkit-filter: blur(8px); */
}



.required {
  color: rgb(0, 0, 0);
}

.required::before {
  color: red;
  font-size: 20px;
}

#login-submit {
  height: 10px;
  padding:15px 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  border-radius: 4px;
  /* width: 60px; */
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  border: solid rgb(0, 0, 0) 1px;
  background-clip: padding-box;
  box-shadow: 3px 3px 3px rgba(8, 226, 255, 0.845);

}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: black solid 1px;
    border-radius: 4px;
    color: rgb(27, 240, 255);
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border: solid rgb(0, 0, 0) 1px;
    background-clip: padding-box;
    box-shadow: 3px 3px 3px rgba(8, 226, 255, 0.845);
    color: white;
    font-weight: bold;

}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#cardBodyLogin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-content: center;
  border-radius: 2%;
  background-color: rgb(255, 255, 255);
  width: 400x;
  height: 500px;
  border: 1px solid purple;
}